{% extends "projects/base.html" %}
{% load mptt_tags %}
{% load timedelta_extras %}

{% block jumbotron_title %}Projets de l'utilisateur « {{ current_user }} »{% endblock %}
{% block jumbotron_lead %}Liste des projets.{% endblock %}
{% block jumbotron_footer %}
{% endblock %}

{% block content %}
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Info</h4>
    <p>Les temps indiqués ne tiennent compte que des sous-projets eux-mêmes.</p>
</div>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Projet</th>
            <th scope="col" class="text-center">Temps passé</th>
            <th scope="col" width="25%">Commentaires</th>
        </tr>
    </thead>
    <tbody>
        {% for project in object_list %}
        <tr>
            <td>{{ project.level_text|safe }} <a href="{% url 'projects:project_detail_by_user' project.id current_user.username %}">{{ project.title }}</a></td>
            <td class="text-center">{{ project.duration_user|date_format|safe }}</td>
            <td>
                {% if project.comment %}
                {{ project.comment }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
