{% extends "projects/base.html" %}
{% load mptt_tags %}

{% block jumbotron_title %}Projets{% endblock %}
{% block jumbotron_lead %}Liste des projets. Les temps indiqués tiennent compte des sous-projets.{% endblock %}
{% block jumbotron_footer %}
<a class="btn btn-primary" href="admin/projects/project/" role="button">Édition des projets</a>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Projet</th>
            <th scope="col">Durée totale</th>
            <th scope="col">Durée partielle</th>
            <th scope="col">Commentaires</th>
        </tr>
    </thead>
    <tbody>
        {% for project in object_list %}
        <tr>
            {% if not project.level %}
            <th scope="row">{{ project.title }}</th>
            {% else %}
            <td>{{ project.level_text|safe }} {{ project.title }}</td>
            {% endif %}
            <td {% if not project.level %} class="text-danger font-weight-bold" {% endif %}>{{ project.total }}</td>
            <td>{{ project.duration }}</td>
            <td>
                {% if project.comment %}
                {{ project.comment }}
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
